@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Over+the+Rainbow&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100%;
}
.seclogin {
  background-color: rgb(196, 212, 224);
  width: 100%;
  height: 100vh;
}
.logodiv {
  text-align: center;
}
.logodiv img {
  height: 120px;
  width: 15%;
  padding: 10px 0px 10px 30px;
  margin-top: 3rem;
}
.prime-logoword {
  padding: 10px 0px 10px 30px;
  font-family: sans-serif;
  margin: -10px 0px 0px 0px;
}
.smallword {
  font-size: 18px;
  font-weight: bold;
}
.briefword {
  font-size: 15px;
  font-weight: bolder;
  opacity: 0.6;
  margin-top: -10px;
}
.login-box {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 25%;
  height: 300px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
}
.agent-details {
  margin-top: 2rem;
}
.login-div {
  color: darkblue;
  font-size: 18px;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
}
.input-details {
  margin-top: 2rem;
  line-height: 30px;
}
.input-details input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 80%;
  box-sizing: border-box;
  text-align: center;
  background-color: whitesmoke;
}
#passwordd {
  margin-top: 10px;
}
.login-login button {
  margin-top: 20px;
  padding: 10px;
  width: 80%;
  color: white;
  background-color: darkblue;
  border: 1px solid darkblue;
  font-size: 15px;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.forgot-password {
  margin-top: 10px;
}
.forgot-password a {
  text-decoration: none;
  color: darkblue;
  font-size: 15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
