@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Over+the+Rainbow&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
}
nav {
  width: 100%;
  position: sticky;
  height: 120px;
  z-index: 3;
  top: 0;
  background-color: white;
}

.mainn {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.logodiv img {
  height: 80px;
  width: auto;
  padding: 10px 0px 10px 20px;
  /* margin-top: -1rem; */
}
.prime-logoword {
  padding: 10px 0px 10px 20px;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: -1rem;
  /* margin: -10px 0px 0px 0px; */
}
.smallword {
  font-size: 18px;
  font-weight: bold;
}
.briefword {
  font-size: 10px;
  font-weight: bolder;
  opacity: 0.6;
  margin-top: -10px;
}
.services {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
  padding: 15px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  /* opacity: 0.6; */
}
.services a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
.services a:hover {
  border: 1px solid darkblue;
  border-radius: 10px;
  /* padding: 15px; */
  background-color: darkblue;
  color: white;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  color: black;
  min-width: 140px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  margin-left: -15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
  transition: background-color 0.3s;
}

/* Hover effect for dropdown links */
.dropdown-content a:hover {
  background-color: darkblue;
  color: white;
  height: fit-content;
  border: 0;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.sec1 {
  background-image: url(../residential\ building.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  box-sizing: border-box;
}
.service-question {
  text-align: center;
  /* margin-top: 20px; */
}
.service-question h2 {
  color: white;
  padding: 50px;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.divhr {
  width: 80%;
  margin: auto;
}
.explore-more button {
  margin: 40px 0px 0px 0px;
  border: 1px solid orange;
  border-radius: 7px;
  padding: 10px;
  background-color: orange;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
  width: 120px;
  color: white;
}
.explore-more button:hover {
  background-color: rgb(147, 100, 13);
  border: 1px solid rgb(147, 100, 13);
}
.dream-home {
  color: white;
  margin: 50px 0px 0px 0px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.find-listdiv {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0px 0px 0px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.find-listdiv a {
  text-decoration: none;
  color: white;
  border: 1px solid darkblue;
  padding: 15px;
  border-radius: 10px;
  background-color: darkblue;
}
.find-listdiv a:hover {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  border: 1px solid white;
}
.sec2 {
  background-image: url(../african-female-real-estate-agent-.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  margin: 70px 0px 0px 0px;
}

.secondsec {
  text-align: center;
}
.Determinediv {
  color: white;
  padding: 50px;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.seconddiv {
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font: weight 500px;
  line-height: 25px;
  cursor: pointer;
  font-style: italic;
  margin-top: -20px;
}
.bookings {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font: weight bold;
  line-height: 25px;
  cursor: pointer;
  margin: 40px 0px 0px 0px;
}
.bookings a {
  color: white;
  text-decoration: none;
  border: 1px solid darkblue;
  border-radius: 10px;
  line-height: 75px;
  padding: 20px;
  background-color: darkblue;
}
.bookings a:hover {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  border: 1px solid white;
}
.onesentence {
  width: 100%;
  height: 300px;
  margin: 70px 0px 0px 0px;
}
.onesentence h1 {
  text-align: center;
  font-size: 45px;
  font-family: sans-serif;
  font-weight: 500;
}
.line {
  width: 300px;
  height: 200px;
  border: 1px solid #d3d3d3;
}

.hrhr {
  width: 80%;
  margin: auto;
  padding: 20px;
}
.sec3 {
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  /* background-color: blueviolet; */
}
.dynamic-content {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap; /* Wraps content on smaller screens */
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.imgcontent {
  margin: -40px 0px 0px 90px;
  padding: 30px;
}
.imgcontent img {
  width: 550px;
  height: 350px;
}

.imgword {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.longcontent {
  width: 500px;
  line-height: 25px;
  margin: 20px 0px 0px 0px;
  font-family: sans-serif;
  font-weight: 400;
}
.smallbox {
  text-align: center;
}
.smallbox a {
  text-decoration: none;
  border: 1px solid darkblue;
  border-radius: 8px;
  padding: 10px;
}
.smallbox a:hover {
  background-color: darkblue;
  color: white;
}
.sec4 {
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  /* background-color: blueviolet; */
}
.dynamic-content2 {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap; /* Wraps content on smaller screens */
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.both {
  padding: 0px;
  margin: 30px 0px 0px 90px;
}
.imgword2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.imgcontent2 {
  margin: -20px 0px 0px 30px;
  padding: 30px;
}
.imgcontent2 img {
  width: 550px;
  height: 350px;
}
.longcontent2 {
  width: 400px;
  line-height: 25px;
  font-size: 14px;
  margin: 20px 0px 0px 0px;
  font-family: sans-serif;
  font-weight: 400;
}
.smallbox2 {
  text-align: center;
}
.smallbox2 a {
  text-decoration: none;
  border: 1px solid darkblue;
  border-radius: 8px;
  padding: 10px;
}
.smallbox2 a:hover {
  background-color: darkblue;
  color: white;
}
.sec5 {
  background-image: url(../african-female-real-estate-agent-.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  margin: 70px 0px 0px 0px;
}
.secondsec {
  text-align: center;
}
.Determinediv {
  color: white;
  padding: 50px;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.seconddiv {
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font: weight 500px;
  line-height: 25px;
  cursor: pointer;
  font-style: italic;
  margin-top: -20px;
}
.bookings {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font: weight bold;
  line-height: 25px;
  cursor: pointer;
  margin: 40px 0px 0px 0px;
}
.bookings a {
  color: white;
  text-decoration: none;
  border: 1px solid darkblue;
  border-radius: 10px;
  line-height: 75px;
  padding: 20px;
  background-color: darkblue;
}
.bookings a:hover {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  border: 1px solid white;
}
.sec6 {
  width: 100%;
  height: 100%;
  margin-top: -10rem;
  padding: 70px;
}

.properties {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  row-gap: 100px;
}
.box-div {
  padding: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  width: 340px;
  height: 700px;
}
.box-div img {
  width: 300px;
  height: 300px;
}
.bedroom {
  padding: 8px;
}
.bedroom a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.bedroom a:hover {
  color: darkblue;
}
.location {
  align-items: center;
  display: flex;
  gap: 25px;
  padding: 10px;
  opacity: 0.6;
}
.Oluyole {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.price {
  color: darkblue;
  margin: 20px 0px 0px 0px;
  font-size: 18px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.space {
  border: 0.1px solid;
  width: 300px;
  height: 70px;
  display: flex;
  text-align: center;
  /* padding: 10px; */
  /* opacity: 0.2; */
}
.smalline {
  border-right: 1px solid;
  width: 100px;
  height: 70px;
  text-align: center;
  padding: 10px;
}
.smalline2 {
  border-right: 1px solid;
  width: 100px;
  height: 70px;
  text-align: center;
  padding: 10px;
}
.smalline3 {
  font-size: 12px;
  border-right: 1px solid;
  width: 100px;
  height: 70px;
  text-align: center;
  padding: 10px;
}
.last-box {
  border: 1px solid;
  width: 300px;
  height: 60px;
  margin: 30px 0px 0px 0px;
  background-color: darkblue;
}
.residence {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.manage {
  width: 80px;
}
.sec7 {
  background-image: url(../african-female-real-estate-agent-.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  box-sizing: border-box;
  margin: 70px 0px 0px 0px;
  position: relative;
}
.sec7::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 1, 1, 0.5);
  z-index: 1;
}
.aboutcompany {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centering the text */
  color: #fff; /* Light text color */
  text-align: center; /* Center text alignment */
  z-index: 1; /* Ensure content is above the overlay */
}

.estatehistory {
  font-style: italic;
  font-size: 15px;
  line-height: 25px;
  width: 600px;
}
.rating {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 20px;
}
.ratenumber {
  font-size: 45px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.sec8 {
  background-color: black;
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  margin: 70px 0px 0px 0px;
}
.footerdiv {
  display: flex;
  color: white;
  padding: 10px;
  justify-content: space-around;
  /* margin-left: -5rem; */
}
.footersentence {
  margin-top: 3rem;
}
.footertext {
  font-size: 30px;
  font-weight: bold;
}
.thepolicy {
  margin: 10px 0 0 10px;
}
.thepolicy a {
  text-decoration: none;
  color: white;
}
.thepolicy a:hover {
  color: blue;
}
li {
  list-style: none;
}

/* media query */
@media screen and (max-width: 800px) {
  .smallword {
    font-size: 10px;
  }
  .briefword {
    display: none;
  }
  .services {
    font-size: 5px;
    flex-direction: row;
    gap: 5px;
    display: flex;
  }
  .service-question h2,
  .dream-home,
  .Determinediv,
  .seconddiv,
  .onesentence h1 {
    font-size: 20px;
  }
  .find-listdiv {
    display: flex;
    font-size: 10px;
  }
  .find-listdiv a,
  .bookings a {
    padding: 5px;
  }
  .smallbox {
    display: none;
  }
  .dynamic-content2 {
    display: none;
  }
  .smallbox2 {
    display: none;
  }
  .properties {
    display: flex;
    align-items: center;
  }
  .estatehistory {
    font-size: 10px;
  }
  .rating {
    font-size: 10px;
    gap: 10px;
  }
  .ratenumber {
    font-size: 20px;
  }
  .footerdiv,
  .sec8 {
    display: none;
  }
}
